@inject IAuthenticationService Authenticator

<Fluxor.Blazor.Web.StoreInitializer />

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(BaseLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated is not true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>You are not authorized to be here.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(NotFound)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>